<%- include('partials/header.ejs') %>
<div class="favorite-todos-container">
    <% for( let index = 0; index < list.length; index++ ) { %>
          <div class="fav-todo">
               <p>
                  <%= list[index].todo %>
               </p>
          </div>
    <% } %>
</div>
<%- include('partials/footer.ejs') %>